USE [master]
GO
/****** Object:  Database [DBQlKhachHang]    Script Date: 5/25/2022 10:11:25 PM ******/
CREATE DATABASE [DBQlKhachHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQlKhachHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBQlKhachHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBQlKhachHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBQlKhachHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQlKhachHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQlKhachHang]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/25/2022 10:11:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaiLies]    Script Date: 5/25/2022 10:11:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaiLies](
	[idDaiLy] [int] IDENTITY(1,1) NOT NULL,
	[chuDaiLy] [nvarchar](255) NULL,
	[tenDaiLy] [nvarchar](255) NULL,
	[diaChi] [nvarchar](max) NULL,
	[nganhBuonBan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DaiLies] PRIMARY KEY CLUSTERED 
(
	[idDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongs]    Script Date: 5/25/2022 10:11:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongs](
	[idHopDong] [int] IDENTITY(1,1) NOT NULL,
	[ngayKy] [nvarchar](255) NULL,
	[thoiHan] [nvarchar](255) NULL,
	[tongTien] [int] NOT NULL,
	[idNguoiDung] [int] NOT NULL,
	[idDaiLy] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.HopDongs] PRIMARY KEY CLUSTERED 
(
	[idHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 5/25/2022 10:11:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[idNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](255) NULL,
	[soDienThoai] [nvarchar](255) NULL,
	[gioiTinh] [nvarchar](max) NULL,
	[diaChi] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[ngheNghiep] [nvarchar](255) NULL,
	[loaiKhachHang] [nvarchar](max) NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[idNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DaiLies] ON 

INSERT [dbo].[DaiLies] ([idDaiLy], [chuDaiLy], [tenDaiLy], [diaChi], [nganhBuonBan]) VALUES (1, N'Lê Văn C', N'Đại lý Văn C', N'123 Trần Hưng Đạo', N'Tạp hóa mỹ phẩm')
SET IDENTITY_INSERT [dbo].[DaiLies] OFF
GO
SET IDENTITY_INSERT [dbo].[HopDongs] ON 

INSERT [dbo].[HopDongs] ([idHopDong], [ngayKy], [thoiHan], [tongTien], [idNguoiDung], [idDaiLy], [createdAt]) VALUES (2, N'2022-05-25', N'2022-05-28', 1000000, 3, 1, CAST(N'2022-05-25T21:34:03.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[HopDongs] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([idNguoiDung], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngheNghiep], [loaiKhachHang], [role]) VALUES (1, N'Lê Minh Nhã', N'0394073752', N'Nam', N'Hà Nội', N'minhnha@gmail.com', N'Buôn bán', N'Thân Thiết', 2)
INSERT [dbo].[NguoiDungs] ([idNguoiDung], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngheNghiep], [loaiKhachHang], [role]) VALUES (2, N'Bùi Văn D', N'0394072625', N'Nam', N'Hà Nội', N'vand@gmail.com', N'Nhân Viên', N'Nhân viên', 1)
INSERT [dbo].[NguoiDungs] ([idNguoiDung], [hoTen], [soDienThoai], [gioiTinh], [diaChi], [email], [ngheNghiep], [loaiKhachHang], [role]) VALUES (3, N'Đỗ Đăng B', N'0394233752', N'Nam', N'Đà Nẵng', N'dangb@gmail.com', N'Nhân Viên', N'Nhân viên', 1)
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
GO
/****** Object:  Index [IX_idDaiLy]    Script Date: 5/25/2022 10:11:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_idDaiLy] ON [dbo].[HopDongs]
(
	[idDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_idNguoiDung]    Script Date: 5/25/2022 10:11:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_idNguoiDung] ON [dbo].[HopDongs]
(
	[idNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDongs] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [createdAt]
GO
ALTER TABLE [dbo].[HopDongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HopDongs_dbo.DaiLies_idDaiLy] FOREIGN KEY([idDaiLy])
REFERENCES [dbo].[DaiLies] ([idDaiLy])
GO
ALTER TABLE [dbo].[HopDongs] CHECK CONSTRAINT [FK_dbo.HopDongs_dbo.DaiLies_idDaiLy]
GO
ALTER TABLE [dbo].[HopDongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HopDongs_dbo.NguoiDungs_idNguoiDung] FOREIGN KEY([idNguoiDung])
REFERENCES [dbo].[NguoiDungs] ([idNguoiDung])
GO
ALTER TABLE [dbo].[HopDongs] CHECK CONSTRAINT [FK_dbo.HopDongs_dbo.NguoiDungs_idNguoiDung]
GO
USE [master]
GO
